[tool.black]
line-length = 119
target-version = ["py36"]

[tool.isort]
profile = "black"
lines_after_imports = 2
line_length = 119

[tool.pylint."MASTER"]
load-plugins = "pylintfileheader"
file-header = "(# Copyright \\(c\\) \\d{4}.*\\n)*#\\n# Licensed under the Apache License, Version 2.0 \\(the \"License\"\\);\\n# you may not use this file except in compliance with the License.\\n# You may obtain a copy of the License at\\n#\\n#    http://www.apache.org/licenses/LICENSE-2.0\\n#\\n# Unless required by applicable law or agreed to in writing, software\\n# distributed under the License is distributed on an \"AS IS\" BASIS,\\n# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\\n# See the License for the specific language governing permissions and\\n# limitations under the License.\\n\\n"

[tool.pylint."MESSAGES CONTROL"]
disable = [
    "too-many-arguments",
    "invalid-name",
    "line-too-long",  # checked by flake8
    "fixme",
    "too-many-instance-attributes",
    "protected-access",
    "broad-except",
    "too-few-public-methods",
    "arguments-differ",
]
